@if (step === 1) {
<section class="w-2/3 border border-gray-200 shadow shadow-gary-500 bg-gray-50 p-5 rounded mx-auto mt-5">
    <h1 class="font-light text-3xl text-center uppercase main-text-color ">{{ 'AUTH.FORGET_PASSWORD_TITLE' | translate }}</h1>

    <form [formGroup]="forgetPassword" (ngSubmit)="submitForgetPassword()">
        <div class="mb-5">
            @let emailControl = forgetPassword.get('email');
            <label for="email" class="block mb-1 text-sm capitalize font-medium text-black">{{ 'AUTH.EMAIL' | translate }}</label>
            <input type="email" id="email" formControlName="email"
                class="bg-white border border-default-medium text-black text-base 
            rounded-base focus:ring-brand focus:border-brand block w-full px-3.5 py-3 shadow-xs placeholder:text-gray-400" [placeholder]="'AUTH.ENTER_EMAIL' | translate" required />

            @if (emailControl?.errors && emailControl?.touched) {
            <div class="flex align-top p-4 my-4 text-sm text-fg-danger rounded-base bg-danger-soft border border-danger-subtle"
                role="alert">
                <svg class="w-4 h-4 me-2 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                    height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M10 11h2v5m-2 0h4m-2.592-8.5h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                </svg>
                <div>
                    <ul class="space-y-1 ps-1">
                        @if (emailControl?.getError("required")) {
                        <li>{{ 'AUTH.EMAIL_REQUIRED' | translate }}</li>
                        }
                        @else if (emailControl?.getError("email")) {
                        <li>{{ 'AUTH.EMAIL_INVALID' | translate }}</li>
                        }
                    </ul>
                </div>
            </div>
            }
        </div>

        @if (errorMessage) {
        <div class="flex align-top p-4 my-4 text-sm text-fg-danger rounded-base bg-danger-soft border border-danger-subtle"
            role="alert">
            <svg class="w-4 h-4 me-2 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M10 11h2v5m-2 0h4m-2.592-8.5h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
            <div>
                <ul class="space-y-1 ps-1">
                    <li> {{ 'AUTH.NO_USER_WITH_EMAIL' | translate }} </li>
                </ul>
            </div>
        </div>
        }
        @if (successMessage) {
        <div class="flex align-top p-4 my-4 text-sm text-fg-success rounded-base bg-success-soft border border-success-subtle"
            role="alert">
            <svg class="w-4 h-4 me-2 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M10 11h2v5m-2 0h4m-2.592-8.5h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
            <div>
                <ul class="space-y-1 ps-1">
                    <li> {{successMessage}} </li>
                </ul>
            </div>
        </div>
        }

        <div>
            <button [disabled]="isLoading" type="submit" class="main-btn">
                {{ 'AUTH.SEND_CODE' | translate }}
                @if (isLoading) {
                <span><i class="fas fa-spin fa-spinner"></i></span>
                }
            </button>
        </div>
    </form>
</section>
}
@else if (step === 2) {
<section class="w-2/3 border border-gray-200 shadow shadow-gary-500 bg-gray-50 p-5 rounded mx-auto mt-5">
    <h1 class="font-light text-3xl text-center uppercase main-text-color ">{{ 'AUTH.VERIFY_RESET_CODE' | translate }}</h1>

    <form [formGroup]="verifyResetCode" (ngSubmit)="SubmitVerifyResetCode()">
        <div class="mb-5">
            @let codeControl = verifyResetCode.get('resetCode');
            <label for="resetCode" class="block mb-1 text-sm capitalize font-medium text-black">{{ 'AUTH.RESET_CODE' | translate }}</label>
            <input type="text" id="resetCode" formControlName="resetCode"
                class="bg-white border border-default-medium text-black text-base 
            rounded-base focus:ring-brand focus:border-brand block w-full px-3.5 py-3 shadow-xs placeholder:text-gray-400" [placeholder]="'AUTH.ENTER_CODE' | translate" required />

            @if (codeControl?.errors && codeControl?.touched) {
            <div class="flex align-top p-4 my-4 text-sm text-fg-danger rounded-base bg-danger-soft border border-danger-subtle"
                role="alert">
                <svg class="w-4 h-4 me-2 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                    height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M10 11h2v5m-2 0h4m-2.592-8.5h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                </svg>
                <div>
                    <ul class="space-y-1 ps-1">
                        @if (codeControl?.getError("required")) {
                        <li>{{ 'AUTH.CODE_REQUIRED' | translate }}</li>
                        }
                        @else if (codeControl?.getError("pattern")) {
                        <li>{{ 'AUTH.CODE_INVALID' | translate }}</li>
                        }
                    </ul>
                </div>
            </div>
            }
        </div>

        @if (errorMessage) {
        <div class="flex align-top p-4 my-4 text-sm text-fg-danger rounded-base bg-danger-soft border border-danger-subtle"
            role="alert">
            <svg class="w-4 h-4 me-2 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M10 11h2v5m-2 0h4m-2.592-8.5h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
            <div>
                <ul class="space-y-1 ps-1">
                    <li> {{errorMessage}} </li>
                </ul>
            </div>
        </div>
        }
        @if (successMessage) {
        <div class="flex align-top p-4 my-4 text-sm text-fg-success rounded-base bg-success-soft border border-success-subtle"
            role="alert">
            <svg class="w-4 h-4 me-2 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M10 11h2v5m-2 0h4m-2.592-8.5h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
            <div>
                <ul class="space-y-1 ps-1">
                    <li> {{successMessage}} </li>
                </ul>
            </div>
        </div>
        }

        <div>
            <button [disabled]="isLoading" type="submit" class="main-btn">
                {{ 'AUTH.VERIFY_CODE' | translate }}
                @if (isLoading) {
                <span><i class="fas fa-spin fa-spinner"></i></span>
                }
            </button>
        </div>
    </form>
</section>
}

@else if (step === 3) {
<section class="w-2/3 border border-gray-200 shadow shadow-gary-500 bg-gray-50 p-5 rounded mx-auto mt-5">
    <h1 class="font-light text-3xl text-center uppercase main-text-color ">{{ 'AUTH.RESET_PASSWORD' | translate }}</h1>

    <form [formGroup]="resetPassword" (ngSubmit)="SubmitResetPassword()">
        <div class="mb-5">
            <label for="email" class="block mb-1 text-sm capitalize font-medium text-black">{{ 'AUTH.EMAIL' | translate }}</label>
            <input type="email" id="email" formControlName="email" readonly
                class="bg-gray-200 border border-default-medium text-gray-500 text-base cursor-not-allowed
            rounded-base focus:ring-brand focus:border-brand block w-full px-3.5 py-3 shadow-xs placeholder:text-gray-400" [placeholder]="'AUTH.ENTER_EMAIL' | translate" required />
        </div>

        <div class="mb-5">
            @let passwordControl = resetPassword.get('newPassword');
            <label for="newPassword" class="block mb-1 text-sm capitalize font-medium text-black">{{ 'AUTH.NEW_PASSWORD' | translate }}</label>
            <input type="password" id="newPassword" formControlName="newPassword"
                class="bg-white border border-default-medium text-black text-base 
            rounded-base focus:ring-brand focus:border-brand block w-full px-3.5 py-3 shadow-xs placeholder:text-gray-400" [placeholder]="'AUTH.ENTER_PASSWORD' | translate" required />

            @if (passwordControl?.errors && passwordControl?.touched) {
            <div class="flex align-top p-4 my-4 text-sm text-fg-danger rounded-base bg-danger-soft border border-danger-subtle"
                role="alert">
                <svg class="w-4 h-4 me-2 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                    height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M10 11h2v5m-2 0h4m-2.592-8.5h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                </svg>
                <div>
                    <ul class="space-y-1 ps-1">
                        @if (passwordControl?.getError("required")) {
                        <li>{{ 'AUTH.PASSWORD_REQUIRED' | translate }}</li>
                        }
                        @if (passwordControl?.getError("pattern")) {
                        <li>{{ 'AUTH.PASSWORD_MIN' | translate }}</li>
                        }
                    </ul>
                </div>
            </div>
            }
        </div>


        @if (errorMessage) {
        <div class="flex align-top p-4 my-4 text-sm text-fg-danger rounded-base bg-danger-soft border border-danger-subtle"
            role="alert">
            <svg class="w-4 h-4 me-2 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M10 11h2v5m-2 0h4m-2.592-8.5h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
            <div>
                <ul class="space-y-1 ps-1">
                    <li> {{errorMessage}} </li>
                </ul>
            </div>
        </div>
        }
        @if (successMessage) {
        <div class="flex align-top p-4 my-4 text-sm text-fg-success rounded-base bg-success-soft border border-success-subtle"
            role="alert">
            <svg class="w-4 h-4 me-2 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M10 11h2v5m-2 0h4m-2.592-8.5h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
            <div>
                <ul class="space-y-1 ps-1">
                    <li> {{successMessage}} </li>
                </ul>
            </div>
        </div>
        }

        <div>
            <button [disabled]="isLoading" type="submit" class="main-btn">
                {{ 'AUTH.RESET_PASSWORD' | translate }}
                @if (isLoading) {
                <span><i class="fas fa-spin fa-spinner"></i></span>
                }
            </button>
        </div>
    </form>
</section>
}
